{% extends 'base.html' %}

{% block title %}
<title>NISQ Algorithm Zoo | Password Reset Form</title>
{% endblock title %}

{% block content %}
{% include 'partials/navbar.html' %}

<style>
  .limiter {
 	 	width: 100%;
  	margin: 0 auto;
  }
	.wrap-login100 {
		width: 500px;
		background: #fff;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
		-o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
		-ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
		padding-left: 55px;
		padding-right: 55px;
		padding-top: 65px;
		padding-bottom: 50px;
  }
  .container-login100 {
		width: 100%;
		min-height: 100vh;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 5px;
  }
  .btn_login{
    background-color: #A29FE1;
    box-shadow: 0 3px 22px -8px #6545a4;
    border: 0px; 
    color: #212529;
    border-radius: 15px; 
    font-weight: 600;
    padding: 10px 20px 10px 20px !important; 
    text-align: center;
  }
  .h3_login {
    margin-bottom: 45px; 
    font-size:25px; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    text-align: center;
  }
  .span_login {
    color: #666666; 
    font-size:0.8rem; 
    font-weight: 500;
    line-height: 0.5em;
    text-align: center;
	}
</style>


<!-- Start main div-->
<div class="limiter">
  <div class="container-login100">
		<div class="wrap-login100">
    
      <h3 class='h3_login'>Forgot password</h3>
      <form class='span_login' method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn_login type="submit">Submit</button>
      </form>

    </div>
  </div>
</div>

{% endblock content %}
