\{% extends 'base.html' %}

{% block title %}
<title>NISQ Algorithm Zoo | Reset Complete</title>
{% endblock title %}

{% block content %}
{% include 'partials/navbar.html' %}

<style>
  .p_login {
    font-size:12px;
    color: #212529;
  }
  .a_login{
    color: #a680f1;
    font-size:12px;
	text-decoration:none;
	font-weight: 600;
  }
  .a_login:hover {
    color: #212529;
	text-decoration:none;
	font-weight: 600;
  }
  .limiter {
 	width: 100%;
  	margin: 0 auto;
  }
  .wrap-login100 {
	width: 500px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
	padding-left: 55px;
	padding-right: 55px;
	padding-top: 65px;
	padding-bottom: 50px;
  }
  .container-login100 {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 5px;
  }
</style>

<!-- Start main div-->
<div class="limiter">
  <div class="container-login100">
		<div class="wrap-login100">

      <p class='p_login'>
        Your password has been set. 
      </p>
      <p class='p_login'></p>
        You may go ahead and 
        <a class='a_login' href="{% url 'signin' %}">
          sign in</a> now.
      </p>

    </div>
  </div>
</div>

{% endblock content %}
