{% extends 'base.html' %}

{% block title %}
<title>NISQ Algorithm Zoo | Reset Confirm</title>
{% endblock title %}

{% block content %}
{% include 'partials/navbar.html' %}

<style>
  .p_login {
    font-size:12px;
    color: #212529;
  }
  .limiter {
 	width: 100%;
  	margin: 0 auto;
  }
	.wrap-login100 {
	width: 500px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
	padding-left: 55px;
	padding-right: 55px;
	padding-top: 65px;
	padding-bottom: 50px;
  }
  .container-login100 {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 5px;
  }
</style>

<!-- Start main div-->
<div class="limiter">
  <div class="container-login100">
		<div class="wrap-login100">

	{% if validlink %}
	
      <h3>Change password</h3>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Change password</button>
		</form>
		
	{% else %}
	
      <p class=p_login>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
	  </p>
	  
    {% endif %}

    </div>
  </div>
</div>

{% endblock content %}
