{% extends 'base.html' %}

{% block title %}
<title>NISQ Algorithm Zoo | Reset Done</title>
{% endblock title %}

{% block content %}
{% include 'partials/navbar.html' %}

<style>
	.p_login {
		font-size:12px;
    	color: #212529;
	}
	.limiter {
		width: 100%;
		margin: 0 auto;
	}
	.wrap-login100 {
		width: 500px;
		background: #fff;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
			-moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
			-webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
			-o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
			-ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
		padding-left: 55px;
		padding-right: 55px;
		padding-top: 65px;
		padding-bottom: 50px;
	}
  .container-login100 {
		width: 100%;
		min-height: 100vh;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 5px;
	}
</style>


<!-- Start main div-->
<div class="limiter">
  <div class="container-login100">
		<div class="wrap-login100">
    
      <p class='p_login'>
        We've emailed you instructions for setting your password, if an account exists with the email you entered.
        You should receive them shortly.
	  </p>

      <p class='p_login'>
        If you don't receive an email, please make sure you've entered the address you registered with,
        and check your spam folder.
      </p>

    </div>
  </div>
</div>

{% endblock content %}
