<!-- Modal -->
<div class="modal fade" 
    id="exampleModalCenter" 
    tabindex="-1" role="dialog" 
    aria-labelledby="exampleModalCenterTitle" 
    aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <h5 class="modal-title" id="exampleModalLongTitle">
          Algorithm Keys (Alphabetical)
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>BV: Bernstein-Vazirani.</li>
          <li>DJ: Deustch-Jozsa.</li>
          <li>HS: Hidden shift.</li>
          <li>QAQC: Quantum-assisted quantum compiling.</li>
          <li>QFT: Quantum Fourier Transform.</li>
          <li>QPE: Quantum phase estimation.</li>
          <li>QSE: Quantum subspace expansion.</li>
          <li>Sim: (Quantum) simulation.</li>
          <li>S.O.: State overlap.</li>
          <li>VQE: Variational quantum eigensolver.</li>
          <li>VQSD: Variational quantum state diagonalization.</li>
          <li>VQLS: Variational quantum linear solver.</li>
        </ul>
      </div>

    </div>
  </div>
</div>
