{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>NISQ Algorithm Zoo | About</title>
{% endblock title %}

{% block content %}
{% include 'partials/navbar.html' %}

<style>
    .h2_terms {
        font-weight: 600;
        padding-top: 10px; 
        padding-bottom: 20px; 
        font-size: 24px; 
        text-align: center;
    }
    .h4_terms {
        margin-bottom: 20px; 
        margin-top: 20px; 
        font-size: 18px; 
        font-weight: 600;
    }
    .h6_terms {
        margin-bottom: 20px; 
        margin-top: 20px; 
        font-size: 14px; 
        font-weight: 400;
    }
    .a_about{
        color: #6545a4;
        font-size:16px;
        text-decoration:none;
    }
    .a_about:hover {
        background-color: #43356D 
        color: #212529;
        text-decoration:none;
    }
</style>

<div class="container">

<h2 class='h2_terms'>
    Terms of service
</h2>

<h6 class='h6_terms'>

By accessing the website at nisqalgorithmzoo.com, you are agreeing to
be bound by these terms of service, all applicable laws and regulations,
and agree that you are responsible for compliance with any applicable local laws. 
If you do not agree with any of these terms, you are prohibited from using or 
accessing this site. The materials contained in this website are protected by 
applicable copyright and trademark law.

<h6>

<h4 class='h4_terms'>
    Use License
</h4>

<h6 class='h6_terms'>
All content is licenced under CC-BY-SA 4.0. 
</h6>

<h4 class='h4_terms'>
    Disclaimer
</h4>

<h6 class='h6_terms'>
The materials on NISQ Algorithm Zoo website are provided on an 'as is' basis. 
NISQ Algorithm Zoo makes no warranties, expressed or implied, and hereby
disclaims and negates all other warranties including, without limitation, 
implied warranties or conditions of merchantability, fitness for a particular 
purpose, or non-infringement of intellectual property or other violation of 
rights.

<br>

Further, NISQ Algorithm Zoo does not warrant or make any representations 
concerning the accuracy, likely results, or reliability of the use of 
the materials on its website or otherwise relating to such materials or 
on any sites linked to this site.
</h6>

<h4 class='h4_terms'>
    Limitations
</h4>

<h6 class='h6_terms'>
In no event shall NISQ Algorithm Zoo or its suppliers be liable for any damages 
(including, without limitation, damages for loss of data or profit, 
or due to business interruption) arising out of the use or inability 
to use the materials on NISQ Algorithm Zoo's website, even if NISQ Algorithm Zoo 
or a NISQ Algorithm Zoo authorized representative has been notified orally or 
in writing of the possibility of such damage. Because some jurisdictions do 
not allow limitations on implied warranties, or limitations of liability for 
consequential or incidental damages, these limitations may not apply to you.
</h6>

<h4 class='h4_terms'>
    Accuracy of materials
</h4>

<h6 class='h6_terms'>
The materials appearing on NISQ Algorithm Zoo's website could include technical, 
typographical, or photographic errors. NISQ Algorithm Zoo does not warrant that 
any of the materials on its website are accurate, complete or current. 
NISQ Algorithm Zoo may make changes to the materials contained on its website at 
any time without notice. However NISQ Algorithm Zoo does not make any commitment 
to update the materials.
</h6>


<h4 class='h4_terms'>
    Links
</h4>

<h6 class='h6_terms'>
NISQ Algorithm Zoo has not reviewed all of the sites linked to its website and 
is not responsible for the contents of any such linked site.
The inclusion of any link does not imply endorsement by 
NISQ Algorithm Zoo of the site. Use of any such linked website is at the 
user's own risk.
</h6>

<h4 class='h4_terms'>
    Modifications
</h4>

<h6 class='h6_terms'>
NISQ Algorithm Zoo may revise these terms of service for its website at any
time without notice. By using this website you are agreeing to be bound by the 
then current version of these terms of service.
</h6>

<h4 class='h4_terms'>
    Governing Law
</h4>

<h6 class='h6_terms'>
These terms and conditions are governed by and construed in accordance with the 
laws of United States of America, and you irrevocably submit to the exclusive 
jurisdiction of the courts in that State or location.
</h6>

</div>


{% include 'partials/footer.html' %}

{% endblock content %}


